h1 {
  text-align: center;
}
.row h1 {
  width: 100%;
  height: auto;
  background: #d3d2d2;
  font-family: unset;
  font-size: 2em;
}
.col a {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(29, 29, 30);
}


   
