* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}

.container {
  width: 1300px;
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-top: -10px;
  margin-left: -5px;
  margin-right: -5px;
}

[class*="col-"] {
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.col-1 {
  width: 8.333333%;
}

.col-2 {
  width: 16.666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333%;
}

.col-5 {
  width: 41.666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.333333%;
}

.col-8 {
  width: 66.666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.333333%;
}

.col-11 {
  width: 91.666667%;
}

.col-12 {
  width: 100%;
}

h2 {
  color: rgb(18, 18, 18);
  font-size: 22px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 1;
  margin: 20px 0px 10px 0px;
}
/*
.footer {
  text-align: center;
  margin: 10px 0px 50px 0px;
}
.b:link, .b:visited {
  background-color: #f44336;
  color: rgb(255, 254, 254);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.b:hover, .b:active {
  background-color: rgb(200, 101, 101);
}
*/

.al-center {
  align-items: center;
}
.t-center {
  text-align: center;
}
.logo {
  width: 150px;
  padding-top: 8px;
}
.js-flex-end {
  justify-content: flex-end;
}
.absolute {
  position: absolute;
}
.relatit {
  position: relative;
}
.bet-wen {
  justify-content: space-between;
}
.fix {
  position: fixed;
}
.hidden {
  overflow: hidden;
}
a {
  text-decoration: none;
  color: rgb(126, 124, 124);
  display: block;
}
.flex {
  display: flex;
}
.bđ-bottom {
  border-bottom: 1px solid rgb(203, 201, 201);
}
.style {
  border: 1px solid rgb(205, 196, 196);
  padding: 4px;
  margin-right: 10px;
  text-transform: capitalize;
}
.bđ-radius {
  border-radius: 20px;
}
.f-size {
  font-size: 15px;
}
.a {
  margin-top: 6px;
  padding-left: 40px;
}
.search {
  border: 1px solid rgb(205, 196, 196);
  padding: 4px 90px 4px 10px;
  text-transform: capitalize;
}
.knot {
  font-size: 15px;
  position: relative;
  right: -270px;
  bottom: -5px;
  color: #aaa6a6;
}
.icon {
  font-size: 20px;
  background: #e5e2e2;
  width: 40px;
  color: #686565;
  border-radius: 50%;
  padding: 8px 0px 8px 0px;
  margin: 10px 10px 0px 10px;
}
.sub-menu {
  position: absolute;
  right: 0;
  left: 0;
  top: 61px;
  background-color: #fff;
  box-shadow: 0 4px 5px #ccc;
  display: none;
}
.sub-menu-item {
  position: relative;
  padding-top: 10px;
}
.text-sub-menu {
  background: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.9)
  );
  position: absolute;
  color: white;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: left;
  padding: 5px 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu-items:hover .sub-menu {
  display: block;
}
.sub-menu-item:hover img {
  transform: scale(1.2);
}
.sub-menu-item img {
  transition: 0.4s;
}
.pd-bottom {
  padding-bottom: 5px;
}
.slider-item {
  transition: opacity 0.3s;
}
.slider-item:hover {
  opacity: 0.8;
}


@media only screen and (max-width: 768px){
  .items{
      display: none;
  }
  .media {
   flex-direction: column;
  }
  .cover_imge{
    max-width: 100%;
  }
}