body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background: rgb(214, 211, 211);
  
}
.container .menu, .row {
  background:rgb(250, 249, 249) ;
  height: 370px;
  width: 235px;
  padding: 0px;
  list-style-type: none;
  font-size: 15px;
  margin: 10px;
}
.container .menu li {
  width: auto;
  height: 30px;
  line-height: 30px;
  padding: 0 1em;
  position: relative;
}
.container .menu li a, .row li{
  text-decoration: none;
  color: #333;
  display: block;
 padding-top: 5px;
 padding-bottom: 5px;
}
.container .menu li:hover {
  background: rgb(235, 232, 232);
}
.container .menu li a:hover {
  color: rgb(211, 100, 9);
}
.container .row {
  position: absolute;
  left: 235px;
  top: 0px;
  display: none;
  margin: 0px;
  box-shadow: 5px 10px 18px rgb(160, 158, 158);
}
.container .menu li:hover .row {
  display: block;
}
.container .two{
  top: -30px; 
   box-shadow: 5px 10px 18px rgb(160, 158, 158);
}
.container .father {
  top: -60px;
  box-shadow: 5px 10px 18px rgb(160, 158, 158);
}
.container .four {
  top: -90px;
  box-shadow: 5px 10px 18px rgb(160, 158, 158);
}
  