body {
  margin: 0px;
  padding: 0px;
}
.container {
  background: red;
  display: flex;
  justify-content: center;
}
.footer, .row {
  background: rgb(252, 251, 251);
  font-family: sans-serif;
  font-size: 15px;
  margin: 0px;
  padding: 5px 0px;
}
.footer li {
  list-style: none;
}
.footer li a, .row {
  text-decoration: none;
  color: rgb(119, 118, 118);
  display: block;
  padding: 6px;
}
img {
  width: 1000px;
}
.footer li:hover {
  background: rgb(228, 227, 227);
}
.footer li a:hover {
    color: orange;
}
.row {
  display: block;
  position: relative;
  left: 215px;
  top: -34px;
  display: none;
}
.footer li:hover .row {
  display: block;
}



